@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-ThinItalic.woff2") format("woff2"), url("../fonts/PublicSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-MediumItalic.woff2") format("woff2"), url("../fonts/PublicSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"), url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"), url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Italic.woff2") format("woff2"), url("../fonts/PublicSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #9597A5;
  background-color: #fafafa;
}

img {
  width: 100%;
  height: auto;
}

h2, h3 {
  color: #2D314D;
  font-weight: 100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.easybank-header {
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.easybank-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.easybank-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easybank-header__logo {
  margin-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.easybank-header__logo-img {
  display: block;
  width: 139px;
  height: 20px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -18px;
  margin-right: -18px;
}

.sitenav__item {
  position: relative;
  z-index: 1;
  margin-right: 18px;
  margin-left: 18px;
}

.sitenav__item:after {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -27px;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
}

.sitenav__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left 0;
          transform-origin: left 0;
}

.sitenav__link {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  text-decoration: none;
  color: #9597A5;
  padding-top: 10px;
  padding-bottom: 5px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.sitenav__toggler {
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: 24px 11px;
  background-position: center center;
}

.sitenav__toggler--changer {
  background-image: url("../img/icon-close.svg");
  background-size: 18px 19px;
}

@media only screen and (max-width: 770px) {
  .sitenav {
    display: none;
  }
  .sitenav--open {
    display: block;
  }
  .sitenav {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 100%;
  }
  .sitenav__list {
    width: calc(100% - 40px);
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .sitenav__item {
    padding-bottom: 24px;
  }
  .sitenav__item::after {
    height: 0;
  }
  .sitenav__link {
    padding-top: 0;
    padding-bottom: 0;
    color: #2D314D;
  }
  .sitenav__toggler {
    display: block;
    margin-left: 15px;
  }
  .easybank-header--background .sitenav {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2D314D), to(rgba(45, 49, 77, 0.0001)));
    background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
  }
}

.button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  padding: 8px 35px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.4;
}

@media only screen and (max-width: 500px) {
  .easybank-header__button {
    display: none;
  }
}

.easybank-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fafafa;
  background-image: url("../img/bg-intro-desktop.svg");
  background-size: 1271px 1034px;
  background-position: right -470px top -260px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1195px) {
  .easybank-main {
    background-size: 1000px 763px;
    background-position: right -350px top -190px;
  }
}

@media only screen and (max-width: 915px) {
  .easybank-main {
    background-size: 870px auto;
  }
}

@media only screen and (max-width: 777px) {
  .easybank-main {
    background-image: url("../img/bg-intro-mobile.svg");
    background-size: 754px 397px;
    background-position: right 0px top -100px;
  }
}

.digitalbank {
  padding-top: 170px;
  padding-bottom: 170px;
}

.digitalbank__content {
  max-width: 447px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.digitalbank__content-heading {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 24px;
}

.digitalbank__content-text {
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 36px;
}

.digitalbank__img {
  display: block;
  width: 732px;
  height: 901px;
  position: absolute;
  z-index: 1;
  right: -115px;
  top: -42px;
}

@media only screen and (max-width: 1195px) {
  .digitalbank__img {
    width: 600px;
    height: 769px;
    right: -95px;
    top: -15px;
  }
}

@media only screen and (max-width: 1030px) {
  .digitalbank {
    padding-bottom: 88px;
  }
  .digitalbank__content {
    max-width: 327px;
  }
  .digitalbank__content-heading {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.714286px;
  }
  .digitalbank__content-text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.234375px;
  }
}

@media only screen and (max-width: 915px) {
  .digitalbank__img {
    width: 420px;
    height: auto;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 750px) {
  .digitalbank__content {
    max-width: calc(100% - 60px);
    padding-top: 125px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .digitalbank__content-heading {
    max-width: 327px;
  }
  .digitalbank__img {
    width: 327px;
    height: 402px;
    top: -57px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 385px) {
  .digitalbank__content {
    max-width: 327px;
  }
}

.features {
  background-color: #F4F5F7;
  padding-top: 96px;
  padding-bottom: 94px;
}

.features__heading {
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  margin-top: 0;
  margin-bottom: 16px;
}

.features__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  margin-top: 0;
  margin-bottom: 72px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -15px;
  margin-right: -15px;
}

.features__item {
  width: 255px;
  margin-left: 15px;
  margin-right: 15px;
}

.feature::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.feature:nth-child(1)::before {
  background-image: url("../img/icon-online.svg");
}

.feature:nth-child(2)::before {
  background-image: url("../img/icon-budgeting.svg");
}

.feature:nth-child(3)::before {
  background-image: url("../img/icon-onboarding.svg");
}

.feature:nth-child(4)::before {
  background-image: url("../img/icon-api.svg");
}

.feature__heading {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  margin-top: 0;
  margin-bottom: 26px;
}

.feature__text {
  margin: 0;
  letter-spacing: -0.25px;
}

@media only screen and (max-width: 1150px) {
  .features {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .features__item {
    width: 40%;
  }
  .feature:not(:last-child) {
    margin-bottom: 56px;
  }
}

@media only screen and (max-width: 670px) {
  .features__container {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__item {
    width: 500px;
  }
  .feature {
    margin-left: 0;
    margin-right: 0;
  }
  .feature::before {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  .features__container {
    max-width: 327px;
  }
  .features__heading {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.571429px;
    margin-bottom: 14px;
  }
  .features__text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.234375px;
    margin-bottom: 56px;
  }
  .features__item {
    width: 327px;
  }
  .feature:not(:last-child) {
    margin-bottom: 32px;
  }
  .feature::before {
    margin-bottom: 24px;
  }
  .feature__heading {
    font-size: 20px;
    letter-spacing: -0.357143px;
    margin-bottom: 16px;
  }
  .feature__text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.234375px;
  }
}
/*# sourceMappingURL=main.css.map */