html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $text-color;
  background-color: #fafafa;
}

img {
  width: 100%;
  height: auto;
}
