.articles {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px;
}

.articles__heading {
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 40px;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -15px;
  margin-right: -15px;
}

.articles__item {
  width: 255px;
  margin-left: 15px;
  margin-right: 15px;
}

.article {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.article__content {
  padding: 25px 24px 24px;
}

.article::before {
  display: block;
  width: 255px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.article:nth-child(1)::before {
  background-image: url("../img/image-currency.jpg");
}

.article:nth-child(2)::before {
  background-image: url("../img/image-restaurant.jpg");
}

.article:nth-child(3)::before {
  background-image: url("../img/image-plane.jpg");
}

.article:nth-child(4)::before {
  background-image: url("../img/image-confetti.jpg");
}

.article__owner {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  margin-top: 0;
  margin-bottom: 8px;
}

.article__heading {
  margin-top: 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.article__heading-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
  text-decoration: none;
  transition: color 0.3s ease;
}

.article__heading:hover .article__heading-link {
  color: #30C88F;
}

.article__text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  margin: 0;
}

@include breakpoint-down (1149px) {
  .articles__item {
    width: 45%;
  }

  .article:not(:last-child) {
    margin-bottom: 24px;
  }
}

@include breakpoint-down (670px) {
  .articles {
    padding-top: 88px;
    padding-bottom: 88px;
    text-align: center;
  }

  .articles__list {
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }

  .articles__item {
    width: 327px;
  }

  .article::before {
    width: 327px;
    margin-left: auto;
    margin-right: auto;
  }
}