.easybank-header {
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.easybank-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.easybank-header__buttons {
  display: flex;
  align-items: center;
}
